* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card0 {
    background-color: transparent;
    width: 250px;
    height: 200px;
    display: block;
    z-index: 10;
}

.card-inner {
    position: relative;
    width: 250px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img {
    width: 250px;
    height: 200px;
    position: absolute;
    backface-visibility: hidden;
    display: block;
}

.info {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.info h2 {
    color: coral;
    margin-bottom: 20px;
}

.container > input {
    /* display: none; */
    position: relative;
    top: -300px;
}

#input0:checked ~ .pages .card-inner {
    transform: rotateY(180deg) scale(2, 2);
}

.card {
    margin: 0px -50px;
    position: relative;
    width: 250px;
    height: 200px;
    display: block;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.cards-right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(-50deg);
}

.cards-left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotateY(50deg);
}

.card1 {
    z-index: 9;
}

.card2 {
    z-index: 8;
}

.card3 {
    z-index: 7;
}

.page {
    display: none;
}

#input4:checked ~ .pages .page-4 {
    display: block;
}
