.contact-me form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-me form input,
.contact-me form textarea {
    outline: none;
    font-size: 25px;
    padding: 6px 0px;
    width: 610px;
    line-height: 1.5;
    border: none;
    resize: none;
}

.form-input {
    border-bottom: 1px solid #e9ecef;
    padding: 25px 0px;
}

.submit {
    width: 610px;
}

.contact-me form input[type="submit"] {
    margin-top: 25px;
    font-size: 20px;
    padding: 16px 28px;
    width: max-content;
    border-radius: 7px;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
}


@media (max-width: 767px) {
    .contact-me form {
        align-items: flex-start;
    }

    .contact-me form input,
    .contact-me form textarea {
        outline: none;
        font-size: 25px;
        padding: 6px 0px;
        width: auto;
        line-height: 1.5;
    }


    .submit {
        width: auto;
    }
}